.login-container{
  background-color: #212c3f;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-panel{
    width:600px;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    .panel-left{
      width:290px;
      height: 100%;
      border-right: 1px solid rgb(43, 43, 43);
      display: flex;
      justify-content: left;
      align-items: center;
      .title{
        color: rgb(116, 116, 116);
        font-size: 32px;
        letter-spacing: 8px;
      }
    }
    .panel-right{
      width:350px;
      padding: 20px;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      .t-form{
        --td-text-color-primary:rgb(173, 173, 173);
        --td-text-color-placeholder:rgb(139, 139, 139);
        --td-bg-color-specialcomponent:#212c3f;
        .t-input{
          width:250px;
        }
        .t-button__text{
          color: rgb(197, 197, 197);
        }
      }
      
    }
    
    
  }
}