.layout-container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  $headerHeight:56px;
  $collapsedWidth: 64px;
  .t-layout__header{
    border-bottom: 1px solid #ccc;
    .system-title{
      font-weight: bold;
      font-size: 22px;
      color: rgb(133, 133, 133);
    }
  }
  .menu-conatiner{
    height:calc(100vh - $headerHeight);
    border-right:1px solid #ccc;
    .t-menu.t-menu--scroll{
      height: calc(100vh - $headerHeight - 49px);
    }
  }
  .content-container{
    box-sizing: border-box;
    padding: 12px;
    width:calc(100vw - 232px);
    &.collapsed{
      width: calc(100vw - $collapsedWidth) !important;
    }
  }
  .collapsed{
    width:$collapsedWidth !important;
  }
  
}